.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  list-style: none;
}
.animal-cart{

  margin: 1em;
  width: 400px;
}

.animals{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.text-center{
  text-align: center;
}

.container{
  max-width: 1000px;
  margin: auto;
}
.horizontal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;

  margin-top: 1em;
}
.success-message{
  color: rgb(18, 206, 18);
}
.error-message{
  color: red;
}

.text-error{
  color: rgb(173, 46, 7);
}